{:aliases
 {:clj-kondo
  {:replace-deps {clj-kondo/clj-kondo {:mvn/version "2024.03.13"}}
   :main-opts  ["-m" "clj-kondo.main"]}
  :outdated
  {:replace-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
   :main-opts ["-m" "antq.core" "--exclude" "com.github.liquidz/antq"]}}}
