{:deps
 {logseq/graph-parser
  {:git/url "https://github.com/logseq/logseq"
   :git/sha "8eec034c612bb549000d06b94bf814f72b53c424"
   :deps/root "deps/graph-parser"}
  #_{:local/root "../logseq/deps/graph-parser"}
  logseq/publishing
  {:git/url "https://github.com/logseq/logseq"
   :git/sha "8eec034c612bb549000d06b94bf814f72b53c424"
   :deps/root "deps/publishing"}
  #_{:local/root "../logseq/deps/publishing"}
  ;; TODO: Remove workaround for error: 'Unable to compare versions for logseq/db'
  logseq/db
  {:git/url "https://github.com/logseq/logseq"
   :git/sha "8eec034c612bb549000d06b94bf814f72b53c424"
   :deps/root "deps/db"}
  #_{:local/root "../logseq/deps/db"}}}
